@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: rgb(91, 165, 157);
  font-weight: 700;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

#section1 {
  color: #fff;
}

.section {
  height: 100vh;
}

.animated-left {
  position: absolute;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 600ms ease;
  right: 0;
}

.fp-section.active .animated-left {
  transform: translate3d(0, 0, 0);
}

.animated-right {
  position: absolute;
  right: 0;
  transform: translate3d(100vw, 0, 0);
  transition: transform 600ms ease;
  left: 0;
}

.fp-section.active .animated-right {
  transform: translate3d(0, 0, 0);
}

.fp-section {
  /* text-align: center; */
}

.fp-watermark {
  display: none !important;
}

#fp-nav ul li a span {
  background-color: white !important;
}

.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 550px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */

/* @keyframes down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-down {
  overflow: hidden;
  animation: down 0.8s ease-in-out;
  height: 50vh;
} */
